# This is template for params.config, and is bash sourced by execute_test script.

# Currently, there are two valid parameters.
# Below are examples.  Uncomment the variables and substitute your values.

# Parameter config file for execute_test
# ASSETS_ONLY is a boolean, "true" or "false". If not present, it is "false".
#ASSETS_ONLY="false"

# DOMAIN_SUFFIX domain suffix to be added to the hostname.  If not present,
# it is null. Note: Does NOT start with a '.'.
#DOMAIN_SUFFIX="dune.gal"
